.color-caption {
    opacity: 0.5;
}
.image-upload-container{
    position:relative;
    .image-upload{
        position:absolute;
        background-color:#fff;
        bottom:5px;
        right:5px;
        border-radius: 5px;
        cursor: pointer;
        display: block;
        text-align: center;
    }

    .v-text-field{
        display: none;
    }
}
.v-menu__content{
    box-shadow: 0 2px 30px -1px rgba(85,85,85,.08), 0 4px 30px 0 rgba(85,85,85,.06), 0 1px 30px 0 rgba(85,85,85,.03) !important;
    padding:0 !important;
}

.alert-snackbar{
    .v-snack__wrapper{
        border:1px solid !important;
        border-color: #66BB6A !important;
    }
}

.v-btn:before{
    background-color: unset !important;
}