.feed-card-container{

    box-shadow: 0 1px 32px -1px rgba(000, 000, 000, 0.08);
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    opacity: 0.9;
    &:hover{
        box-shadow: 0 1px 24px -1px rgba(000, 000, 000, 0.2);
        opacity: 1;
    }
    .feed-card-title{
        font-size:1.1em;
        text-overflow: ellipsis;
        word-wrap:break-word; 
        white-space: nowrap;
        overflow: hidden;
        display:block;
    }
    .feed-card-content {
        height:50px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* 라인수 */
        -webkit-box-orient: vertical;
        word-wrap:break-word; 
        font-size:0.87em;
        color:rgba(000, 000, 000, 0.62);
    }
}