.feed-card-container{
    //border: 1px solid rgba(102, 187, 106, 0.08);
    //box-shadow: 0 2px 16px -2px rgba(30, 30, 30, 0.08);
    //box-shadow: 0 6px 10px -4px rgb(0 0 0 / 5%);
    opacity: 0.95;
    min-width:calc(100% - 1.5rem);
    max-width:calc(100% - 1.5rem);
    .card-thumbnail{
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
        -webkit-transition: opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
        border-radius:0.5rem !important;
        &.on{
            box-shadow: 0 2px 32px -2px rgba(30, 30, 30, 0.12);
            opacity: 1;
            transform: scale( 1.1);
        }
        .v-image__image{
            border-radius: 0.5rem;
        }
    }
    .feed-card-title{
        font-size:1.1em;
        text-overflow: ellipsis;
        word-wrap:break-word; 
        white-space: nowrap;
        overflow: hidden;
        display:block;
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
        -webkit-transition: opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
        &.on{
            transform: translateX(-1rem);
        }
    }
    .feed-card-content {
        max-width:100%;
        overflow: hidden;
        min-height: 5rem;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* 라인수 */
        -webkit-box-orient: vertical;
        word-wrap:break-word; 
        font-size:0.87em;
        color:rgba(000, 000, 000, 0.62);
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
        -webkit-transition: opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    }
    .feed-card-info{
        div{
            cursor: pointer;
        }
    }
}