body{
    font-family: 'Noto Sans KR', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-stroke: 0.45px;
    -webkit-text-stroke: 0.45px rgba(0, 0, 0, 0.1);
    font-size:14px;
    letter-spacing: -0.25px;;
    font-weight: 400;

}

html{
    background-color:#fcfcfc;
}
.v-overlay__scrim {
    background-color: rgb(230,230,230) !important;
    border-color: rgb(230,230,230) !important;
}
.v-dialog {
    box-shadow: 0 2px 30px -1px rgba(85,85,85,.08), 0 4px 30px 0 rgba(85,85,85,.06), 0 1px 30px 0 rgba(85,85,85,.03) !important;
}
.v-treeview--dense .v-treeview-node__root{
    min-height: 32px !important;
}
.v-tab{

    background-color: transparent !important;
    &::before{
        background-color: transparent !important;
    }
}

.v-treeview-node__label{
    i{
        width:14px !important;
    }
}

.header{
    box-shadow: 0 1px 1px -1px rgba(85,85,85,.09),0 1px 10px 0 rgba(85,85,85,.07) !important;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.off-shadow{
    box-shadow: none !important;
}
