body,html,#app{
    font-family: 'Noto Sans KR', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-stroke: 0.45px;
    -webkit-text-stroke: 0.45px rgba(0, 0, 0, 0.07);
    font-size:16px;
    letter-spacing: 0.25px;;
    font-weight: 400;
    
}

html{
    background-color:#fcfcfc;
}
.row{
    margin:0 -12px;
}
.v-overlay__scrim {
    background-color: rgb(230,230,230) !important;
    border-color: rgb(230,230,230) !important;
}
.v-dialog {
    box-shadow: 0 2px 30px -1px rgba(85,85,85,.08), 0 4px 30px 0 rgba(85,85,85,.06), 0 1px 30px 0 rgba(85,85,85,.03) !important;
}
.v-treeview--dense .v-treeview-node__root{
    min-height: 32px !important;
    button{
        width:12px !important;
        height:12px !important;
    }
    .v-treeview-node__level{
        width: 12px !important;
    }
}
.v-tab{

    background-color: transparent !important;
    &::before{
        background-color: transparent !important;
    }
}

.v-treeview-node__label{
    i{
        width:14px !important;
    }
}

.header{
    box-shadow: 0 1px 1px -1px rgba(85,85,85,.09),0 1px 10px 0 rgba(85,85,85,.07) !important;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.off-shadow{
    box-shadow: none !important;
}

.alert-header{
  position: relative;
  .alert-button{
    background-color: #fff;
    cursor: pointer;

    span{
      vertical-align: middle;

      &:nth-child(2){
        padding-right:1rem;
      }
    }

    .row-down{
      transform: rotate(-180deg);
    }

    &.on{
      & + .alert-content{
        user-select: none;
        margin-top:12px;
        opacity: .95;
        pointer-events: all;
      }

      .row-down{
        transform: rotate(0deg);
      }

    }
  }

  .alert-content{
    background-color: #fff;
    border:1px solid rgba(102,187,106,0.12);
    box-shadow: 0px 11px 15px -7px rgb(102 187 106 / 5%), 0px 24px 38px 3px rgb(102 187 106 / 4%), 0px 9px 36px 8px rgb(102 187 106 / 3%) !important;
    border-radius: 5px;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    right:0;
    top:32px;
    transition: all .2s ease-in-out;
    width:360px;
    .alert-content-menu-cover{
      cursor:pointer;
    }
    .alert-content-menu-cover:hover{
      color: #325CB8;
    }
    
  }
}

.admin-header{
    color:#888;
    position: relative;
    .admin-button{
      background-color: #fff;
      cursor: pointer;

      span{
        vertical-align: middle;

        &:nth-child(2){
          padding-right:1rem;
        }
      }

      .row-down{
        transform: rotate(-180deg);
      }

      &.on{
        & + .admin-content{
          user-select: none;
          margin-top:12px;
          opacity: .95;
          pointer-events: all;
        }

        .row-down{
          transform: rotate(0deg);
        }

      }
    }

    .admin-content{
      background-color: #fff;
      border:1px solid rgba(102,187,106,0.12);
      box-shadow: 0px 11px 15px -7px rgb(102 187 106 / 5%), 0px 24px 38px 3px rgb(102 187 106 / 4%), 0px 9px 36px 8px rgb(102 187 106 / 3%) !important;
      border-radius: 5px;
      position: absolute;
      opacity: 0;
      pointer-events: none;
      right:0;
      top:32px;
      transition: all .1s ease-in-out;
      width:160px;
      button {
        transition: all .2s ease-in-out;
        &:hover{
          color: #66BB6A !important;
        }
      }
    }
}